.contactsBlock {
    background-color: #111318;
}

.contactsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.contactsForm  {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width:100%;
}
.contactsInput,
.contactsText {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;
}
.contactsText {
    margin-left: 30px;
}
.contactsForm input {
    width: 100%;
    height: 20px;
}



.contactsFormButton button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    margin-top: 20px;
}



