.worksBlock {
    min-height: 100vh;
    background-color: aqua;

}
.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
