.mainBlock {
    height: 100vh;
    background-color: #111318;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.text {
    border:1px solid;
    width: 300px;
}
.photo {
    border:1px solid;
    width: 300px ;
    height: 400px ;
    background-color: #fff;
}